*.aux
*.bbl
*.blg
*.log
main.lot
main.lof
main.bcf
main.toc
main.glg
main.glo
main.gls
main.ist
main.run.xml
main.acn
main.acr
main.alg
main.ptc
main.info
*-blx.bib
*.cut
main.pdf
main.out
main.nolist*
Markussen2022.pdf
Markussen2022-a4.pdf
temp.pdf
temp-a4.pdf

results/*
.DS_Store
*~
.*.swp
main.pdfsync
main.synctex.gz
