*.aux
*.bbl
*.blg
*.log
main.lot
main.lof
main.bcf
main.toc
main.glg
main.glo
main.gls
main.ist
main.run.xml
main.acn
main.acr
main.alg
*-blx.bib
*.cut
main.pdf
main.out

.DS_Store
*~
.*.swp
main.pdfsync
main.synctex.gz
